
<mat-toolbar color="primary">
<button *ngIf="getMostrarBackButton()"
(click)="back()"
mat-button
>
<mat-icon color="white">arrow_back</mat-icon>

</button>
<img src="../assets/logo2.png" width="80vw" class="displayName">

  <p style="text-align: center;" class="header">Sistema de Relatórios da Hidroimagem</p>
  <span class="example-spacer"></span>

  <span *ngIf="isUsuarioLogado()" class="displayName">{{usuario.displayName}}</span>
  <button *ngIf="!mostrarLoadingBar && isUsuarioLogado()"
  (click)="logout()"
  mat-button
  >
  <mat-icon color="white">logout</mat-icon>

  </button>

</mat-toolbar>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="mostrarLoadingBar"
></mat-progress-bar>


<div class="container" role="main"  fxLayout="column" *ngIf="!mostrarLoadingBar">
<div *ngIf="!isUsuarioLogado()" style="margin-top: 5em" fxLayout="column" fxLayoutGap="4em">
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="../assets/logo.png" width="200em" style="text-align: center" />
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div  class="div-aviso" >
    <p class="aviso-logar">Bem vindo(a). Essa aplicação é de uso exclusivo de funcionários da Hidroimagem - Serviços de Perfilagem.
      Caso tenha sido cadastrado, se autentique no botão abaixo.
    </p>
  </div>
  </div>

  <div
  fxLayout="row"
  fxLayoutAlign="center center"
  style="margin-top: 10px; margin-bottom: 10px"
   >

  <button mat-raised-button style="padding: 1rem;"  (click)="googleAuth() ">
    <mat-icon style="width: 50px; height:30px"
              svgIcon="logo"></mat-icon> Entre com o Google

</button>
</div>
</div>
  <router-outlet *ngIf="isUsuarioLogado()"></router-outlet>
</div>
