.container{

  padding-left: 20px;

}
.aviso-logar{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 600px){
  .aviso-logar{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }

  .displayName{
    display: none;
  }
.header{
  margin-top: 0.5em;
  white-space:pre-wrap;
  font-size: 14px;

}
}
.div-aviso{
  line-height: 5vh; max-width: 50vw!important;
}
